body {
    background-image: url("../img/sky.jpg");
    color: aqua;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.4vw;
}

/*NavBar*/
.nav-link {
    margin-left: 210px;
    margin-top: 25px;
    color: blue;

}
.nav-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 1vw;
    font-weight: bolder;
    text-transform: uppercase;
  }
.nav-link:hover {
    border-radius:70%;
    border-bottom: 5px solid #4099ff;
    border-left: 1px solid #4099ff;
    border-right: 1px solid #4099ff;
    color:#fff!important;
}


#navbarHome {
    color: blue;
}

.navbar-brand {
    font-weight: 800;
    font-size: 24px;
    margin-left: 25px;
    margin-top: 15px;
    color: blue;
    width: 100%;
    max-width: 115px;
    position: fixed;
    
}
.navbar-brand:hover {
    color: blue;
    border: 6px solid rgb(96, 26, 188);
    border-radius: 25px;
}




.text-component {
    position: fixed;
    top: 280px;
    left: 100px;

	font-weight: 700;

	-webkit-background-clip: text;
	color: transparent;
	background-image: url('../img/ground.jpg');
}


.td-figure {
    perspective: 1500px;
}

.td-figure {
    position: fixed;
    top: 165px;
    left: 800px;
    border-radius: 50%;
}

.td-figure img{
    max-height: 2000px;
    max-width: 550px;
    object-fit: cover;
    border-radius: 50%;
}

img {
    justify-content: center;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
}




.p-5 {
    caret-color: blue;
}
