body {
    background-image: url("../img/sky.jpg");
    color: aqua;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.7em;
}

.nav-link {
    margin-left: 5em;
    margin-top: 1em;
    color: #7894E1;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7em;
    font-weight: bolder;
    text-transform: uppercase;

  }


.nav-link:hover {
    border-radius:70%;
    border-bottom: 0.1em solid #7894E1;
    border-left: 0.03em solid #7894E1;
    border-right: 0.03em solid #7894E1;
    color:#fff !important;
}
.nav-link:visited {
    color: #7894E1;
}

.nav-link:active {
    color: #7894E1;
}

.navbar-brand {
    font-weight: 800;
    font-size: 2em;
    margin-top: 0.8em;
    color: #7894E1;

}

.fixed{
    position: fixed;
    
}

.navbar-brand:hover {
    border-radius:50%;
    border-bottom: 0.1em solid #7894E1;
    border-left: 0.03em solid #7894E1;
    border-right: 0.03em solid #7894E1;
    color:#fff!important;
}

.navdown{
    background-color: #7894E1;
}

.navbar-toggler{
    background-color: rgba(120, 148, 225,0.8);
    border-radius: 0.5em;
    border-color:rgba(120, 148, 225,0.9);
}

.navbar-toggler:hover{
    background-color: rgba(120, 148, 225,0.5);
    border-radius: 0.5em;
    border-color:rgba(120, 148, 225,0.7);
}

.text-component {
    width:100%;
    position:relative;
	font-weight: 700;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('../img/ground.jpg');
}

.td-figure {
    perspective: 1500px;
    position: fixed;
    top: 165px;
    left: 800px;
    border-radius: 50%;
}

.td-figure img{
    max-height: 2000px;
    max-width: 550px;
    object-fit: cover;
    border-radius: 50%;
}

img {
    justify-content: center;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
}

.p-5 {
    caret-color: blue;
}